.solutions {
    background: url(../img/solutions_bg.png) center (center/cover) no-repeat;
    min-height: 755px;
    padding: 76px 0 61px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        color: #ffffff;
        font-size: 30px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 35.99px;
        text-align: center;
        margin: 0;
    }

    &__menu {

        margin-bottom: 0;
        padding: 7px 0 9px 0;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 26px;
        width: 843px;
        height: 48px;
        border: 1px solid #ffffff;
        border-radius: 5px;
        &_item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            line-height: 25.99px;
            list-style-type: none;
            border-right: 1px solid rgba(255, 255, 255, 0.4);
            padding: 0 25px 0 0;
            &:first-child {
                padding-left: 32px;
            }
            &:last-child {
                border-right: none;
                padding-right: 33px;
            }
        }
    }

    &__slider {
        margin-top: 35px;
        width: 947px;
        height: 560px;
        position: relative;
    }
}
// .slider-item_solutions {
//     }

.prev_solutions {
    position: absolute;
    left: -5%;
    bottom: 49%;
    cursor: pointer;
    }

.next_solutions {
    position: absolute;
    right: -5%;
    bottom: 49%;
    cursor: pointer;
    }

// .slider-dots_solutions {
//     }

.dot {
    cursor: pointer;
    }

.dot-active_solutions {
    color: $main-color;
    }

